*{
    box-sizing: border-box;
}

.header{
    background-color: white;
    height: auto;
    width: 100vw;
}

.container-fluid img{
    height: 40px;
    margin-bottom: 6px;
}

.footer{
    height: auto;
    width: 100vw;
    padding: 0px 10px;
    margin: 0px;
    background-color: rgb(55,55,55);
}